{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <br>

    <div class="container">
        <h2 class="text-white">My Team</h2>
        <div class="container">
            <div class="row">
                <div class="offset-sm-2 col-md-3 bg-white px-3" style="border: 2px solid black; border-radius: 10px;" >
                    <center>
                    <img src="{% static 'images/team/Ravi.jpg' %}" style="height: 180px;width:200px; " class="rounded-circle"><br>
                    <span>Ravi Yadav</span><br>
                    <span>7081414159</span><br>
                    <span>raviyadavitup@gmail.com</span>
                        </center>
                </div>
                <div class="offset-sm-2 col-md-3 bg-white px-3" style="border: 2px solid black; border-radius: 10px;" >
                    <center>
                    <img src="{% static 'images/Anu.jpeg' %}" style="height: 180px;width:200px; " class="rounded-circle"><br>
                    <span>Anurag Kumar</span><br>
                    <span>7081414159</span><br>
                    <span>annukamaljnv@gmail.com</span>
                        </center>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="offset-sm-2 col-md-3 bg-white px-3" style="border: 2px solid black; border-radius: 10px;" >
                    <center>
                    <img src="{% static 'images/Abhi.jpeg' %}" style="height: 180px;width:200px; " class="rounded-circle"><br>
                    <span>Abhishek Kumar Shukla</span><br>
                    <span>7081414159</span><br>
                    <span>raviyadavitup@gmail.com</span>
                        </center>
                </div>
                <div class="offset-sm-2 col-md-3 bg-white px-3" style="border: 2px solid black; border-radius: 10px;" >
                    <center>
                    <img src="{% static 'images/team/Pranjal.jpg' %}" style="height: 180px;width:200px; " class="rounded-circle"><br>
                    <span>Pranjal Raman Srivastava</span><br>
                    <span>7081414159</span><br>
                    <span>raviyadavitup@gmail.com</span>
                        </center>
                </div>
            </div>
        </div>


    </div>
    <br><br><br><br>
{% endblock %}