{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Job Prediction</title>
    {% block head %}

    {% endblock %}
    <style>
        body{
            background-image: url('{% static 'images/b3.jpg' %}');
            font-size: 100%;
        }
        #nav1{
            background-image: linear-gradient(to right, #0b0b0b ,#2e2c2c, #3d3a3a,#6a6565);
        }
        #hm{
            position: absolute;
        }
        .btn:hover {
            background-color: #1E90FF;
            color: white;
        }
        .icon {
  transition: 0.70s;
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;

  margin-right: auto;
  margin-left: auto;
}

.icon:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
    </style>
</head>
<body onload="loaderHide()">

<nav class="navbar navbar-expand-lg text-success navbar-dark bg-dark fixed-top" id="nav1">
    <a class="navbar-brand" href="{% url 'home:home' %}">
        <img src="{% static 'images/logo3.jpg' %}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="">
        JobPrediction
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mx-4" >
                <span id="hm" class="mt-2">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
                <a class="nav-link ml-2 btn " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-4">
                <a class="nav-link btn" href="{% url 'prediction:predict' %}">Prediction</a>
            </li>
            <li class="nav-item active mx-4">
                <a class="nav-link btn" href="{% url 'resumebuilder:resume' %}">Resume Builder</a>
            </li>
            <li class="nav-item active mx-4">
                <a class="nav-link btn" href="{% url 'contact:form' %}">Contact Us</a>
            </li>
            <li class="nav-item active mx-4">
                <a class="nav-link btn" href="{% url 'feedback:form' %}">Feedback</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item active mx-4">
                    <a class="nav-link btn" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                <li class="nav-item active ml-2">
                    <a class="nav-link" href="/">Welcome , <span style="font-size: 20px;" class="text-primary">{{ user.first_name }} {{ user.last_name }}</span></a>
                </li>

            {% else %}
                <li class="nav-item active mx-4">
                    <a class="nav-link btn" href="{% url 'accounts:login' %}">Login</a>
                </li>

            {% endif %}
        </ul>
    </div>
</nav>
<br><br>

{% block body %}

{% endblock %}

<div class="fixed-bottom text-white bg-dark" style="font-style: oblique; background-image: linear-gradient(to right, #0b0b0b ,#0b0b0b,#0b0b0b);">

        <div style="margin: 7px 0px;">
            <center>
        <span class="text-center">@Copyright</span>
        <span class="text-center" style="font-size: 1em;" >Rajkiya Engineering College Banda</span>

        <a href="https://www.facebook.com/tpcrecbanda/?ref=py_c" target="_blank" style="color:darkblue;">
            <img src="{% static 'images/icons/facebook.png' %}" class="rounded-circle icon" height="40xp" width="40px">
        </a>&nbsp;
        <a href="https://twitter.com/iicrecbanda?lang=en" target="_blank">
            <img src="{% static 'images/icons/twitter.png' %}" class="rounded-circle icon" height="40xp" width="40px">
        </a>&nbsp;
        <a href="https://www.youtube.com/channel/UCvnS9XoFEyJmakhAYn5DAnA" target="_blank" style="color:;">
            <img src="{% static 'images/icons/youtube.png' %}" class="rounded-circle icon" height="40xp" width="40px">
        </a>
                </center>
        </div>

</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/Base/base.js' %}">

</script>
</body>
</html>